---
const today = new Date();
---

<footer>
	<div class="footer-links">
		<a href="/about">About</a>
		<a href="/contact">Contact</a>
		<a href="/privacy">Privacy Policy</a>
		<a href="/terms">Terms of Service</a>
	</div>
	&copy; {today.getFullYear()} Global Blog Space. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.footer-links {
		display: flex;
		justify-content: center;
		gap: 1.5em;
		margin-bottom: 1em;
	}

	.footer-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}

	.footer-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>